.App {
  text-align: center;
}

.App-header {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hive-container {
  display: flex;
  flex-wrap: wrap;
}

.hex {
  border-radius: 50%;
  filter: blur(10px);
  background-image: radial-gradient(#fff, #fbf);
  box-shadow:
    0 0 6vw 3vw #fff,  /* inner white */
    0 0 10vw 6vw #f0f, /* middle magenta */
    0 0 14vw 9vw #0ff; /* outer cyan */
  transition: opacity 3s ease-in;
  opacity: 0;
  user-select: none;
  outline: none;
  text-decoration: none;
}

.hex-zoom {
  opacity: 0.8;
}